body{
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    background-color: rgba(64, 155, 228, 0.468);
}
nav{
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 3px;
}
li{
    list-style-type: none;
    font-size: 20px;
    padding:  5px 10vw 5px 8vw;
    box-sizing: border-box;
    display: inline;
    float: center;
}
li:hover{
    color:red;
    background-color: rgb(122, 122, 133);
}
.div1{
    padding:3vw;
    background-color: azure;
    border: 10px inset rgb(155, 155, 139);
    border-radius: 20px; 
    overflow:auto;
}
.profile {
    padding:0;
    position: sticky;
    left: 2vw;
    width: 2vw;
    height: 2vh;
  } 
.info{
    position: absolute;
    font-size: 1.5em;
    right: 15vw;
    width: 50vw;
    height: 40vh;
} 
.div2{
    height: 280px;
    margin-top: 30px;
    padding:3vw;
    background-color: #f0fff5;
    border: 10px inset rgb(183, 156, 150);
    border-radius: 20px;
}
.profile2{
     position: absolute;
     right:5vw;
     width:40vw;
     border-radius: 40%;
} 
img{
    width:20vw;
    height:17vw;
    border: 6px inset rgb(255, 192, 252);
    border-radius: 35%;
}
.div3{
    margin-top: 30px;
    padding:3vw;
    background-color: rgb(255, 240, 254);
    border: 10px inset rgb(183, 155, 170);
    border-radius: 20px;
}
.profile3 img{
    height: 370px;
    box-shadow: 15px 10px rgba(235, 151, 151, 0.151);
}
 button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin:15px;
    padding:15px;
    background-color: rgb(211, 255, 251);
    border-radius: 10px 30px;
}
button:hover{
    background-color: rgb(216, 199, 199);
}

.div4{
    margin-top: 30px;
    padding:3vw;
    background-color: rgb(240, 255, 248);
    border: 10px inset rgb(183, 183, 171);
    border-radius: 20px;
}
.end{
    margin-top:30px;
    font-size: large;
    padding: 90px;
    background-color: rgb(252, 179, 252);
    border: 10px inset rgb(183, 183, 171);
    border-radius: 20px;
}
.end h2{
    font-size: 50px;
    font-weight: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.end input{
    padding: 25px;
    font-size: x-large;
    border-radius: 20px 25px;
}
.openings{
   position: absolute;
   left:30px;
}
table{
    position:absolute;
    right:400px;
    width:400px;
    height:250px;
    text-align: center;
    padding-top: 60px;
}